{% extends 'EvpTicketAdminBundle::base.html.twig' %}

{% block body %}
    <div class="content">
        {% if menus.specific is not empty %}
            {% if menus.specific['submenus'] is defined %}
                <div class="subMenu">
                    <div class="menu sub description">
                        {{ 'admin.menu.sub_description'|trans({}, 'columns') }}
                    </div>
                    {% for action in menus.specific.submenus %}
                        <div class="menu sub">
                            <a href="{{ path('admin_manage_action', { 'menu' : menuAlias, 'action' : action }) }}">
                                {{ ('admin.actions.' ~action)|trans({}, 'columns') }}
                            </a>
                        </div>
                        {% if not loop.last %}
                            <div class="separator">
                                {{ 'admin.actions.separator_char'|trans({}, 'columns') }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if menus.specific['texts'] is defined %}
                <div class="subText">
                    {% for key, name in menus.specific.texts %}
                        <div class="text sub">
                            {% if name is iterable %}
                                {% for act, title in name %}
                                    <div class="menu sub">
                                        <a href="{{ path('admin_manage_action', { 'menu' : menuAlias, 'action' : act }) }}">
                                            {{ ('admin.actions.' ~title)|trans({}, 'columns') }}
                                        </a>
                                    </div>
                                    {% if not loop.last %}
                                        <div class="separator">
                                            {{ 'admin.actions.separator_char'|trans({}, 'columns') }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ name|trans({}, 'columns') }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        <table class="table table-hover {{ menuAlias }}">
            <thead class="columns">
                <tr>
                    {% for key, name in elements.columns %}
                        <th>{{ name|trans({}, 'columns') }}</th>
                    {% endfor %}
                    {% if actions is not empty %}
                        <th class="actions">{{ 'admin.index.actions'|trans({}, 'columns') }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="records">
                {% for record in elements.records %}
                    <tr>
                        {% for property, name in elements.columns %}
                            {% set value = attribute(record, property) %}
                            <td>
                                {% if value is sameas(true) %}
                                    {{ 'admin.status.active'|trans({}, 'columns') }}
                                {% elseif value is sameas(false) %}
                                    {{ 'admin.status.inactive'|trans({}, 'columns') }}
                                {% elseif value.timestamp is defined %}
                                        {{ value|date('Y-m-d H:i') }}
                                {% elseif property == 'description' %}
                                    {{ value|length > 500
                                        ? (value|slice(0, 500) ~ '...')|raw|purify
                                        : value|raw|purify  }}
                                {% elseif value.name is defined %}
                                    {{ value.name }}
                                {% elseif property == 'token' %}
                                    <img class="qrCode" src="{{ path('evp_device_generate_qr_for_api', { 'token' : value }) }}">
                                {% else %}
                                    {{ value|trans({}, 'columns') }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        {% if actions is not empty %}
                            <td class="actions">
                                <div class="dropdown">
                                    <a data-toggle="dropdown" href="#">{{ 'admin.index.select_action'|trans({}, 'columns') }}</a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        {% for action in actions %}
                                            <li role="presentation">
                                                <a role="menuitem" href="{{ path(
                                                'admin_manage_action',
                                                {
                                                '_locale' : app.request.locale,
                                                'menu' : menuAlias,
                                                'action' : action,
                                                'id' : record.id
                                                }) }}
                                        ">
                                                    {{ ('admin.actions.'~action)|trans({}, 'columns') }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
